<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RGarmin</title>
        <link href="{{url_for('static',path='/css/app.css')}}" rel="stylesheet" />
    </head>
	<body class="bg-gray-900 text-white p-6">
        <header>
        </header>
        <main id="main">
			<div id="connections" hx-get="/connections" hx-swap="innerHTML" hx-trigger="load" class="container mx-auto"></div>

        </main>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    </body>
</html>
